<form #product="ngForm" (ngSubmit)="formSubmit(product)">

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Search By</mat-label>
                <mat-select matInput ngModel  matNativeControl name="searchBy" required>
                    <mat-option value="PLACE">
                        PLACE
                    </mat-option>
                    <mat-option value="TYPE_OF_PROPERTY">
                        TYPE OF PROPERTY
                    </mat-option>
                    <mat-option value="FEATURE">
                        FEATURE
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Place </mat-label>
                <input matInput ngModel placeholder="Place" name="place" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type</mat-label>
                <mat-select matInput ngModel  matNativeControl name="type" >
                    <mat-option value="FLAT">
                        Flat
                    </mat-option>
                    <mat-option value="APARTMENT">
                        APARTMENT
                    </mat-option>
                    <mat-option value="VILLAS">
                        Villas
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Feature</mat-label>
                <mat-select matInput ngModel  matNativeControl name="feature">
                    <mat-option *ngFor="let feature of featuresList" [value]="feature">
                        {{feature}}
                    </mat-option>
                    
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
        <button type="submit" mat-stroked-button color="primary">Search</button>
    </div>
</form>

<div class="row mt-4">
    <div class="col-md-3 mb-4" *ngFor="let product of properties">
        <div class="card">
            <img class="card-img-top" [src]="product?.bannerUrl" alt="Brand Logo" />
            <div class="card-body">
                <h4 class="card-title product_title">{{ product?.name }}</h4>
                <!-- <p class="card-text product_description">
          {{ product?.productDetails }}
        </p> -->
                <span class="product_price">
                    <mat-icon class="price_icon_tag" matSuffix>sell</mat-icon>
                    {{ product?.price }}
                </span>
                <span class="available_product_label">Type <b>{{ product?.type }}</b></span>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button (click)="onReply(product?.user?.userId)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                            <mat-icon>chat</mat-icon>
                        </button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button (click)="showImages(product?.id)" mat-icon-button color="primary"
                            aria-label="Example icon button with a home icon">
                            <mat-icon>perm_media</mat-icon>
                        </button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button (click)="bookProperty(product?.id, product?.price)" mat-icon-button color="primary"
                            aria-label="Add to wishlist">
                            <mat-icon>favorite</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-paginator [length]="allRecordsCount" [pageSize]="pageSize" aria-label="Select page "
    (page)="pageEvent = onPageChange($event)">
</mat-paginator>