<nav class="navbar navbar-expand-lg bg_grad">
    <div class="container-fluid">
        <a class="navbar-brand custom_heading" href="#">Rent A Place</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-order">My Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feedback">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <router-outlet></router-outlet>
</div>